@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit your entry";
}
@model MovieApp.Models.MovieEntry
<!--this is the form that you will use to add data about movies to your site-->
<form asp-action="EditEntry" method="post">
    <div hidden="hidden">
        <input asp-for="MoviesId" />
    </div>
    <div>
        <label asp-for="Category">Category</label>
        <input asp-for="Category" />
    </div>
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Year">Year</label>
        <input asp-for="Year" />
    </div>
    <div>
        <label asp-for="Director">Director</label>
        <input asp-for="Director" />
    </div>
    <div>
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>
    <div>
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div>
        <label asp-for="LentTo">Lent To</label>
        <input asp-for="LentTo" />
    </div>
    <div>
        <label asp-for="Notes">Notes</label>
        <textarea asp-for="Notes">Enter notes about the movie</textarea>
    </div>
    <br />
    <div asp-validation-summary="All"></div>
    <button type="submit">Save Changes</button>
</form>